RewriteEngine On
RewriteBase /

# Redirect API requests to index.php
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule ^api/.*$ index.php [L,QSA]

# If the requested file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^ index.php [L,QSA]